* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0e1126;
    color: #ffffff;
}

/* Navbar */
header {
    width: 100%;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #9f6bff;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

nav a:hover {
    color: #9f6bff;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 50px;
}

.hero-text h1 span {
    color: #9f6bff;
}

.hero-img {
    width: 300px;
    border-radius: 12px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #9f6bff;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
    transition: .3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* Sections */
.section {
    margin: 100px 50px;
}

.section h2 {
    color: #9f6bff;
    margin-bottom: 15px;
    border-bottom: 2px solid #9f6bff;
    display: inline-block;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-card {
    background: #1b1f3b;
    padding: 12px 25px;
    border-radius: 8px;
    transition: 0.3s;
}

.skill-card:hover {
    background: #9f6bff;
    color: #000;
}

/* Project */
.project-card {
    background: #1b1f3b;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
}

.btn2 {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 15px;
    background-color: #9f6bff;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
}

/* Contact */
.contact-section {
    margin: 100px 50px;
}

.contact-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    outline: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #9f6bff;
    color: #000;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #1b1f3b;
    margin-top: 40px;
}

/* Mobile */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        margin-top: 20px;
        width: 60%;
    }
}
